// Variables
$website-width: 1280px;
$main-color: #814dc0;
$secondary-color:#5cb7d8;
$third-color:#f5e1fd;
$light-color:#88c2bc;
$dark-color: #08165f;
$medium-color: #3c3c91;
$bg-image:url('../img/portfolio8.jpg');

// Set Text Color 
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
      @return antiquewhite;  
    }
}